<ol class="post-list">
  {{#each posts as |post|}}
  <li>
 
  </li>
  {{/each}}
</ol>

<div class="title">

  <h3>{{post.title}}</h3>
  <p>{{post.post_contents}}</p>
</div>
 <div class="meta">
      Posted by {{user.username}} on {{format_date created_at}}
    </div>
<div>{{title}}</div>

<form class="comment-form">
  <div>
    <textarea id="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
  
</form>

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>